* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(-45deg, #00c6ff, #0072ff, #6a11cb, #2575fc);
    background-size: 400% 400%;
    animation: bg 10s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes bg {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

.container {
    width: 350px;
}

.weather-box {
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(15px);
    border-radius: 25px;
    padding: 30px;
    text-align: center;
    color: white;
    box-shadow: 0 15px 40px rgba(0,0,0,0.4);
    animation: pop 1s ease;
}

@keyframes pop {
    from {transform: scale(0.8); opacity: 0;}
    to {transform: scale(1); opacity: 1;}
}

.title {
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: none;
    outline: none;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: #ffdd57;
    margin-bottom: 15px;
}

.weather-info {
    display: none;
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    from {opacity: 0; transform: translateY(10px);}
    to {opacity: 1; transform: translateY(0);}
}

.weather-info h1 {
    font-size: 50px;
}

.extra {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.loader {
    display: none;
    margin: 15px auto;
    width: 40px;
    height: 40px;
    border: 5px solid rgba(255,255,255,0.3);
    border-top: 5px solid white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {transform: rotate(360deg);}
}
